@import "vars";

* {
    //font-family: 'Open Sans', sans-serif;
    //font-family: 'Lato', sans-serif;
    font-family: 'Nunito', sans-serif;
    font-weight: 400;
}

#not-main-page {
    display: none;
}

html {
    background: $tg;
    //@error: $bg-dark;
}

#body, #form, #date {
    background: white;
}

#easterEgg {
    position: fixed;
    z-position: -999;
}

#title {
    text-align: center;
    text-shadow: 1px 1px rgb(128, 128, 255);
    color: rgb(255, 191, 72);
    background: $tg2;
    padding: 15px 10px 15px 10px;

    h1  {
        font-weight: 700;
        font-size: 22px;
    }
}

#energyNote {
    display: none;
}

h3 {
    padding-bottom: 8px;
}

#date, #timeOfDay {
    color: grey;

    #day {
        float: left;
    }


    #time, #timeOfDay {
        float: right;
    }

}

#date, #form, #timeOfDay {
    padding: 20px 20px 20px 20px;
}

#date {
    padding-top: 10px;
}

#today {
    padding-bottom: 15px;
}

.section {
    padding-bottom: 30px;
}

button {
    border: none;
    outline: none;
    padding: 17px;
    background: #e8e8e8;
}

.btn:active {
    background: #6e5cc8;
}

.grid-container {
    display: grid;
    grid-gap: 2px;
    grid-template-columns: repeat(7, 1fr);
  }

.grid-item {
    padding: 10px;
    background: #e8e8e8;
    //color: #6e5cc8;
}

.grid-item:active {
    background: #6e5cc8;
}

@media only screen and (max-width: 400px) {
    h1 {
        font-size: 20px;
    }
}