$highlight: orange;
$theme: #302276;
$theme2: rgb(105, 185, 255);
$tg: linear-gradient($theme, $highlight);
$tg2: linear-gradient($theme2, rgb(105, 155, 255));
/* $grey: rgb(202, 202, 202);
$darg: rgb(47, 47, 47);
$poiple: #5343a4; */